<p>Hi, I'm Agnes <a onmouseenter="showPostImage('/assets/img/main/cat.png')" onmouseleave="hidePostImage()" href="#" style="text-decoration: none; color: black;">↝</a></p>

<p>I design, build and maintain software and hardware, sometimes alone but often with <a href="/webring">friends</a>. I have a particular interest in simulation, collective knowledge and infrastructural systems. Recently, I have been working extensively with <a href="https://www.are.na/agnes-cameron/proj-satellite-mining">satellite imagery</a>, and making synthesisers.</p>

<p>I am a part time specialist technician and lecturer at UAL's <a href="https://www.arts.ac.uk/creative-computing-institute">Creative Computing Institute</a>, and a member of the <a href="https://iii.pubpub.org/">Innovation Information Initiative</a> steering committee.  I was a founding member of the research studio <a href="https://www.foreignobjects.net/">Foreign Objects</a></p>

<p>If you are an activist group or community organisation looking for technical support or advice, I'm normally happy to volunteer my time. I also like hearing from people generally. You can get in touch with me at: agnesfcameron at protonmail dot com.</p>
