<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/main.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>agnes cameron</title>
	<script>
		window.goatcounter = {
			path: function(p) { return location.host + p }
		}
	</script>
	<script data-goatcounter="https://agnescam.goatcounter.com/count"
	 async src="//gc.zgo.at/count.js"></script>
</head>